<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630350080947-opj0c9h4njat1p4vdc6can4ag8pq6bvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630350080947-opj0c9h4njat1p4vdc6can4ag8pq6bvd</string>
	<key>API_KEY</key>
	<string>AIzaSyA79s0CtDRZQwLx-NMrSaX2zdJwkTNsUqo</string>
	<key>GCM_SENDER_ID</key>
	<string>630350080947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.williamyeung.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-c75f7</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-c75f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630350080947:ios:9d5908f9920204d29ff9c6</string>
	<key>DATABASE_URL</key>
	<string>https://artable-c75f7.firebaseio.com</string>
</dict>
</plist>